/* frontend/src/Components/App.css */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #e0f7fa, #ffffff);
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

